<div class="p-6 bg-gray-100 min-h-screen flex justify-center items-start">
  <form [formGroup]="nikeForm" (ngSubmit)="handleSubmit()" class="bg-white p-8 rounded-xl shadow-md w-full max-w-xl">
    <h2 class="text-2xl font-bold mb-6 text-center">Thêm mới sản phẩm</h2>

    <!-- Tên sản phẩm -->
    <div class="mb-4">
      <label class="block mb-1 font-medium">Tên sản phẩm</label>
      <input type="text" class="w-full border rounded-md px-4 py-2" placeholder="Nhập tên sản phẩm" 
      formControlName="name"
      />
      <div *ngIf="nikeForm.get('name')?.invalid && nikeForm.get('name')?.touched" class="text-red-500">
        <span *ngIf="nikeForm.get('name')?.errors?.['required']">Không để trống</span>
        <span *ngIf="nikeForm.get('name')?.errors?.['minlength']">Tối thiểu là 4 ký tự</span>
      </div>
    </div>

    <!-- Giá -->
    <div class="mb-4">
      <label class="block mb-1 font-medium">Giá</label>
      <input type="number" class="w-full border rounded-md px-4 py-2" placeholder="Nhập giá sản phẩm" formControlName="price" />
    </div>
    <div *ngIf="nikeForm.get('price')?.invalid && nikeForm.get('price')?.touched" class="text-red-500">
      <span *ngIf="nikeForm.get('price')?.errors?.['required']">Không để trống</span>
      <span *ngIf="nikeForm.get('price')?.errors?.['min']">Tối thiểu là 100 vnd</span>
    </div>

    <!-- Link ảnh -->
    <div class="mb-4">
      <label class="block mb-1 font-medium">Link ảnh</label>
      <input type="text" class="w-full border rounded-md px-4 py-2" name="image" placeholder="Nhập đường dẫn ảnh" formControlName="image"/>
      <div *ngIf="nikeForm.get('image')?.invalid && nikeForm.get('image')?.touched" class="text-red-500">
        <span *ngIf="nikeForm.get('image')?.errors?.['required']">Không để trống</span>
      </div>
    </div>
    <!-- Màu -->
    <div class="mb-4">
      <label class="block mb-1 font-medium">Màu</label>
      <input type="text" class="w-full border rounded-md px-4 py-2" placeholder="Nhập đường dẫn ảnh" formControlName="color"/>
      <div *ngIf="nikeForm.get('color')?.invalid && nikeForm.get('color')?.touched" class="text-red-500">
        <span *ngIf="nikeForm.get('color')?.errors?.['required']">Không để trống</span>
      </div>
    </div>

    <!-- Trạng thái -->
    <div class="mb-6">
      <label class="block mb-2 font-medium">Trạng thái</label>
      <div class="flex items-center space-x-6">
        <label class="inline-flex items-center">
          <input type="radio" name="status" [value]="true" class="form-radio text-green-600" formControlName="status"/>
          <span class="ml-2">Còn học</span>
        </label>
        <label class="inline-flex items-center">
          <input type="radio" name="status" [value]="false" class="form-radio text-red-600" formControlName="status"/>
          <span class="ml-2">Ngưng học</span>
        </label>
      </div>
      <div *ngIf="nikeForm.get('status')?.invalid && nikeForm.get('status')?.touched" class="text-red-500">
        <span *ngIf="nikeForm.get('status')?.errors?.['required']">Không để trống</span>

      </div>
    </div>

    <!-- Nút submit -->
    <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition">
      Thêm sản phẩm
    </button>
  </form>
</div>
